<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.fbconnect149380" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Google Maps</name>
  <description>
        Pruebas OneGorilla
    </description>
  <author email="jaime@onegorilla.cl" href="http://onegorilla.cl/">
    OneGorilla
  </author>

  <!-- <preference name="android-build-tool" value="gradle" /> 
  <gap:plugin name="cordova-plugin-googlemaps" source="npm">
    <param name="API_KEY_FOR_ANDROID" value="AIzaSyAkh1i9m60rM4k0j4Pc72Yxj1EvXjZcx3o" />
  </gap:plugin> -->
  <preference name="android-build-tool" value="gradle"  /> 
  <gap:plugin name="plugin.google.maps.menusito" version="1.2.5">
      <param name="API_KEY_FOR_ANDROID" value="AIzaSyAkh1i9m60rM4k0j4Pc72Yxj1EvXjZcx3o" />
      <param name="API_KEY_FOR_IOS" value="123" />
  </gap:plugin>

  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>